/* html5 css file */

body {
    background-color:#CCCCCC;
    font-family:Geneva,Arial,Helvetica,sans-serif;

    margin: auto;
    margin-top: 10px;
    max-width:900px;
    border:solid;
    border-color:#FFFFFF;
}

header {
    background-color: #F47D31;
    display:block;
    color:#FFFFFF;
    text-align:center;
    width:100%;
}

h1 {
    font-size: 50px;
    margin: 0px;
}

h2 {
    font-size: 24px;
    margin: 0px;
    text-align:center;
    color: #F47D31;
}

h3 {
    font-size: 18px;
    margin: 0px;
    text-align:center;
    color: #F47D31;
}

h4 {
    color: #F47D31;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 20px #888;
    -webkit-transform: rotate(-45deg);
	-moz-box-shadow: 2px 2px 20px #888;
    -moz-transform: rotate(-45deg);
    position: absolute;
    padding: 0px 150px;
    top: 50px;
    left: -120px;
    text-align:center;

}

header h2 {
    margin: 0px;
}

nav {
    display:block;
}

nav a:link, nav a:visited {
    display: block;
    border-bottom: 3px solid #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

nav a:hover {
    color: white;
    background-color: #F47D31;
}

nav h3 {
    margin: 15px;
    color: white;
}

#container {
    background-color: #888;
}

section {

    height: 500px;
    display:block;
}

article {
    height: 470px;
    background-color: #eee;
    display:block;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

article header h5 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;

    font-size: 18px;
    margin: 0px;
    text-align:center;
    color: #fff;

}

aside {
    display:block;
}

footer {
    clear: both;	
    display: block;
    background-color: #F47D31;
    color:#FFFFFF;
    text-align:center;
    padding: 15px;
}

footer h2 {
    font-size: 14px;
    color: white;
}

/* links */
a {
    color: #F47D31;
}

a:hover {
    text-decoration: underline;
}


#RunnersInfoPage {
    background-color: #888;
}

.geostatus {
    margin-top: 5px;
    border-radius: 10px;
    border:solid 2px #F47D31;
    padding: 2px;
	font-size:13px;
	-webkit-border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;

}

.otherstatus{
    margin-top: 5px;
    border-radius: 10px;
    border:solid 2px #F47D20;
    padding: 2px;
	font-size:13px;
	-webkit-border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
}

.geostatus p:hover {
    color: white;
    background-color: #F47D31;
}

/* Login box properties */
table#registerTbl{
    background-color: #CCCCCC;
    margin: 20px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* add astrix color and properties to be red */
.asterix{
	color: red;
    font-size: medium;
	padding-right:10px;
	padding-left:2px;
}

/* Default HTML5 input validation pseudoclasses */
input:valid {
border: 1px solid green;
}

input:focus:invalid {
border: 1px solid red;
}

/* Add inout field contents padding and makes its birders has a rounded corners. */
input{
	padding: 3px;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
	border-radius:7px;
	
}

/*Formating the log area*/

#log {
	padding-top:10px;
	font-size:12px;
}


/*

CSSs for the second page

*/
#mapHeader{
	 padding-right: 3px;
	-webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 7px 7px;
}

#mapCanvas{
	width:100%;
	height:93%;
	margin-top: 3px;
    border:solid 2px #F47D31;
	-webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
}



